<div class="card-list text-center">
  <h2>Your tasks are:</h2>
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, task_path(task) %>
      <% if task.done %>
        <i class="fa fa-check"></i>
      <% else %>
        <i class="fa fa-times"></i>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<hr>
<div class="user-actions text-center">
  <h3>Modify the list</h3>
  <%= link_to "Add a new task", new_task_path, class: "btn btn-success" %>
</div>
