// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks-list {
  background-color: white;
  margin: auto;
  width: 50%;
  a {
    color: #2980b9;
  }
  i {
    color: #2c3e50;
    &:hover {
      color: #2980b9;
    }
  }
}

.card {
  margin: 25px 150px;
  padding: 25px;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(220,220,220);
}